.header {
  height: 80px;
  width: 100vw;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
}
.header,
.header-logo,
.header__logo,
.header-search {
  height: 80px;
}
.header-logo {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo__image {
  height: 34px;
  width: 34px;
}
.header-search {
  width: 840px;
  display: flex;
  align-items: center;
}
.header-search__input {
  width: 460px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
  height: 48px !important;
  transition: box-shadow 200ms ease-in 0s !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-radius: 4px !important;
  padding-left: 30px;
}
#header-search__icon:before {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentcolor;
}
li {
  margin: 0 10px;
  float: left;
}
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
